$main-color      :#7D6167;
$secondary-color : #EFD9CE;
$body-font-color : #ffffff;
$hover-color     :#FFA5AB;
$links-color     :$body-font-color;

$body-font:'Rufina',
serif;
$body-font-size: 18px;
$text-font-size: 22px;